.container {
    height: 100%;
    justify-content: space-between;

    & * {
        text-align: center;
    }

    & > *:first-child {
        padding-top: 2rem;
    }
    & > *:last-child {
        padding-bottom: 2rem;
    }
}

.mainTitle {
    /* TODO: Make variable sized font */
    font-size: 40px;
    letter-spacing: 1;
    line-height: 1.1;
}

.mainTitleCaption {
    /* TODO: Make variable sized font */
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 3;
}

.preHeader {
    /* TODO: Make variable sized font */
    font-size: 10px;
    letter-spacing: 9px;
    text-transform: uppercase;
    line-height: 1.5;
}

.location {
    /* TODO: Make variable sized font */
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1;
}