.container {
    height: 100%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background: linear-gradient(200deg, var(--primary), #996b72, var(--primary));
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 60% 25%;
    padding: 1rem 0;

    & * {
        text-align: center;
    }
}

.imageContainer {
    grid-column: 2;
    grid-row: 1 / 4;
    height: 100%;
    width: 80%;
    position: relative;
    overflow: hidden;

    & img {
        object-fit: cover;
    }
}

.userText {
    align-content: center;
    height: 100%;
    overflow: auto;
}
