.container {
    height: 100%;
    width: 70%;
    align-self: center;
    gap: 4rem;
}

.eventRow {
    justify-self: center;
    width: 100%;

    display: grid;
    grid-template-columns: 20% 80%;
}

.eventRowLeft {
    text-align: center;
    border-top-left-radius: 6vw;
    border-bottom-left-radius: 6vw;
    overflow: hidden;
    background-color: #801c29;
}

.eventRowRight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--primary);
    border-top-right-radius: 6vw;
    border-bottom-right-radius: 6vw;
}

.textContainer {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    column-gap: 4rem;
}
