.container {
    display: grid;
    grid-template-rows: 
        max(250px, 30vw)
        max(200px, 25vw)
        max(250px, 170vw)
        max(200px, 15vw);
}

.spaceBackground {
    background-image: url('../../assets/images/outreach/space-background.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.gridContent {
    height: 95%;
    display: grid;
    grid-template-rows:
        20%
        55%
        25%;
}
