.menuItem {
    height: 25%;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

.dropdownLink {
    cursor: pointer;
    gap: 0;
}

.title:hover {
    cursor: pointer;
}

.popOverRoot {
    pointer-events: none;
}