.container {
    height: 100%;
    justify-content: space-between;
    padding: 0 8rem;
    background: linear-gradient(200deg, var(--primary), #996b72, var(--primary));

    & * {
        text-align: center;
    }
}

.textSection {
    width: 60%;
    height: 100%;
}

.videoSection {
    height: 80%;
    width: 80%;
    overflow: hidden;
    place-self: center;
    justify-items: center;
}
