.container {
    display: flex;
    flex-direction: column;

    & > *:first-child {
        height: 30vw;
    }
    & > *:nth-child(2) {
        height: 25vw;
    }
    & > *:nth-child(3) {
        height: 35vw;
    }
    & > *:nth-child(4) {
        height: 15vw;
    }
    & > *:last-child {
        height: 15vw;
    }
}